{% extends "admin/main.html" %}
{% block title %}Dashboard{% endblock title %}
{% load static %}
{% block content %}

<div class="row mb-4 mt-5 mx-1">
    <div class="col">
        <a href="" class="btn btn-lg btn-primary w-100 active">Gespreksketens</a>
    </div>
    <div class="col">
        <a href={% url "dashboard_sociable" %} class="btn btn-lg btn-primary w-100">Codes</a>
    </div>
</div>

{% include "game/progressbar.html" %}

<div class="container mb-3">
    {% include "sociablecreating/logmessage_component.html" %}
</div>
{% endblock content %}