{% load static %}
<div class=" align-items-center justify-content-center">
    <h4>Berichten</h4>
    <div class="list-group">
        {% if logmessage_list %}
        {% for logmessage in logmessage_list %}
        <a href='{% url "sociable" logmessage.sociable %}' class='list-group-item list-group-item-action border-light'>
            <div class=' justify-content-evenly d-flex align-items-center'>{{logmessage.name}} <small class='opacity-75'>{{logmessage.sociable}}</small></div>
        <p class="mb-0 opacity-80">{{logmessage}}</p>
        <div class='row'>
            <div class='col'>
                <small class="opacity-50 text-nowrap">{{logmessage.date_created|date:'d-m'}}</small>
            </div>
            {% if logmessage.is_read %}
            <div class='col'>
                <i class="bi bi-check-all text-info" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="gelezen"></i>
            </div>
            {% endif %}
        </div>
        </a>
        
        {% endfor %}
        {% else %}
         <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <i class="bi bi-chat-right-dots"></i>
            <div class="d-flex gap-2 w-100 justify-content-between">
                <h6 class="mb-0">Nog geen berichten</h6>
            </div>
          </a>
    {% endif %}
    </div>
</div>