{% extends "admin/main.html" %}
{% load static %}
{% block title %}
Sociable Detail
{% endblock %}
{% block stylesheet %}
<link href='{% static "sociablecreating/styles/sociable_detail.css" %}' rel="stylesheet" >
{% endblock stylesheet %}
{% block content %}
{% if request.user == sociable.owner %}
<nav class="navbar navbar-expand bg-light crudbar" data-bs-theme="light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href={% url "update-sociable" sociable.slug %}>Edit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url "delete-sociable" sociable.slug %}>Verwijder</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endif %}

<div class="offcanvas offcanvas-start" tabindex="-1" id="profile" aria-labelledby="profileLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>    {% include 'usermanagement/profile.html' with user=sociable.owner %}</div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-6'>
    <h1>Bedankt voor het gesprek!</h1>
    <h5>{{sociable.slug}}</h5>
    <div class='justify-content-between d-flex align-items-center'>
    <button class='btn btn-outline-light' data-bs-toggle="offcanvas" href="#profile" aria-controls="profile"><h6 class='mt-1'><b><i class="bi bi-arrow-bar-right"></i> {{sociable.owner}}</h6></b></button>
      
    <small>Aangemaakt op {{sociable.date_created|date:'d-M-y'}}</small>
    </div>
    <div class='container mt-4'>
    {% with description=sociable.description %}
    <p>
    {% if description %}
    {{description|linebreaks}}
    {% else %}
    Laat een bericht achter. Vertel iets over je ervaringen van het gesprek
    {% endif %}
    </p>
    {% endwith %}
    </div>
    </div>


    <div class='col-md-5'>
      <div class='flex-container d-flex justify-content-end'>
        <a class='btn btn-info btn-lg' href={% url "create-logmessage" sociable %}><b>Laat een bericht achter <i class="bi bi-chat-right-text-fill ms-2"></i></b></a>
      </div>
      {% for message in sociable.logmessage_set.all %}
      <div class="card bg-secondary border-info mb-3">
          <div class="card-header justify-content-between d-flex fs-6">
            {% if message.author == sociable.owner %}
            <b><a class='link-info text-white' data-bs-toggle="offcanvas" href="#profile" aria-controls="profile"><i class="bi bi-arrow-bar-right"></i> {{message.name}}</a></b>
            {% else %}
            {{message.name}}
            {% endif %}
            <small class="text-muted">{{message.date_created|date:'d-m'}}
          {% if request.user == sociable.owner %}
          <a href='{% url "delete-logmessage" message.id %}' class='btn btn-outline-danger ms-2'><i class="bi bi-trash3"></i></a></small>
          {% endif %}
          </div>
          <div class="card-body fs-6">
            <p class="card-text">{{message.body|linebreaks}}</p>
            <p class="card-text"></p>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</div>

{% endblock %}