{% load static %}
{% block stylesheet %}<link href='{% static "sociablecreating/styles/sociablecomponent.css" %}' rel="stylesheet" >{% endblock stylesheet %}
<div class="card border-info text-white bg-secondary mb-3">
    <div class="card-header d-flex justify-content-around">
        <h4 class='mt-auto'>Jouw Codes</h4> <a class='btn btn-primary' href='{% url "create-sociable" %}'><b>+</b></a>
    </div>
    <div class="card-body">
        {% if sociable_list %}
        
        {% for sociable in  sociable_list %}
        <a href='{% url "sociable" sociable.slug %}' class='a-sociable'>
            <div class="card sociable-card">
                <div class="card-body">
                  <h4 class="card-title">{{sociable.slug}}</h4>
                  <p class="card-text">{{sociable.description|truncatewords:23 }}</p>
                  <small class="card-subtitle mb-2 text-muted">Aangemaakt op {{sociable.date_created|date:'d-M-y'}}</small>
                </div>
            </div>  
        </a>       
        {% endfor %}
        {% else %}
        <div class='card'>
            <div class="card-body">
                Je hebt nog geen codes. Maak je eerste aan.
                <p><a href='{% url "create-sociable" %}'><button href='{% url "create-sociable" %}' button type="button" class="btn btn-primary mt-3">Nieuw</button></a></p>
            </div>
        </div>
        {% endif %}
    </div>
</div>