{% extends "admin/main.html" %}
{% load static %}
{% block title %}
Sociable Detail
{% endblock %}
{% block stylesheet %}
<link href='{% static "sociablecreating/styles/sociable_detail.css" %}' rel="stylesheet" >
{% endblock stylesheet %}
{% block content %}
<nav class="navbar navbar-expand bg-light crudbar" data-bs-theme="light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarColor03">
      {% if request.user == sociable.owner %}
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href={% url "update-sociable" sociable.slug %}>Edit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url "delete-sociable" sociable.slug %}>Delete</a>
        </li>
      </ul>
      {% endif %}
      <div class="nav-item">
        <button type='button' class='btn btn-dark'>modified at: {{ sociable.date_modified|date:'d-m' }}</button>
      </div>
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">More sociables of {{sociable.owner}}</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="accordion" id="accordionExample">
    {% for sociable in sociable.owner.sociable_set.all %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <b>{{sociable.goal}}</b>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <small>Created at {{sociable.date_created|date:'d-M-y'}}</small>
            <p>
            {{sociable.description|linebreaks}}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-6'>
    <h1>{{sociable.goal}}</h1>
    <div class='justify-content-between d-flex align-items-center'>
    <button class='btn btn-outline-light' data-bs-toggle="offcanvas" href="#offcanvasExample" aria-controls="offcanvasExample"><h4 class='mt-1'><i class="bi bi-arrow-bar-right"></i> {{sociable.owner}}</h4></button>
      
    <small>Created at {{sociable.date_created|date:'d-M-y'}}</small>
    </div>
    <p>{{sociable.description|linebreaks}}</p>
    </div>


    <div class='col-md-5'>
      <div class='flex-container d-flex justify-content-end'>
        <a class='btn btn-info btn-lg' href={% url "create-logmessage" sociable %}><b>Leave a message <i class="bi bi-chat-right-text-fill ms-2"></i></b></a>
      </div>
      {% for message in sociable.logmessage_set.all %}
      <div class="card bg-secondary border-info mb-3">
          <div class="card-header justify-content-between d-flex fs-6">{{message.name}} <small class="text-muted">{{message.date_created|timesince}} ago 
          {% if request.user == sociable.owner %}
          <a href='{% url "delete-logmessage" message.id %}' class='btn btn-outline-danger ms-2'><i class="bi bi-trash3"></i></a></small>
          {% endif %}
          </div>
          <div class="card-body fs-6">
            <p class="card-text">{{message.body|linebreaks}}</p>
            <p class="card-text"></p>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</div>

{% endblock %}