{% extends "admin/main.html" %}

{% block title %}
Goal Detail
{% endblock %}
{% load static %}
{% block stylesheet %}<link href={% static "goalmanagement/styles/goal_detail.css" %} ref='stylesheet'/>{% endblock stylesheet %}
{% block content %}
<!-- Jumbotron -->
<div class="jumbotron p-5 text-center bg-image mb-4 rounded-4">
  <div class="mask rounded-4">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mt-3 mb-3">{{goal.title}}</h1>
        <h4 class="mb-3">Created at {{goal.date_created}} by {{goal.creator}}.</h4>
        {% if request.user == goal.creator%}
        <p>
          <a class='btn btn-danger' href='{% url "delete-goal" goal.id %}'>Delete</a>
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- Jumbotron -->

{% endblock %}