asgiref==3.8.1
astroid==3.2.2
crispy-bootstrap5==2024.2
dill==0.3.8
Django==5.0.4
django-crispy-forms==2.1
exceptiongroup==1.2.1
factory-boy==3.3.0
Faker==25.8.0
gunicorn==22.0.0
inflection==0.5.1
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
packaging==24.0
platformdirs==4.2.2
pluggy==1.5.0
pylint==3.2.3
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
pytest==8.2.1
pytest-django==4.8.0
pytest-factoryboy==2.7.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
six==1.16.0
sqlparse==0.5.0
tomli==2.0.1
tomlkit==0.12.5
typing_extensions==4.11.0
whitenoise==6.6.0
