{% extends "admin/main.html" %}
{% block title %}Dashboard{% endblock title %}
{% load static %}
{% block content %}
    <div class='container mb-3'>
    <h3>
        Welkom {{user.username|default:'Philosopher'}}
    </h3>
    {% include "admin/messages_feed.html" %}
    </div>
    <div class='container'>
        <div class='row'>
            <div class='flex-column col-sm-6'>
                {% include "sociablecreating/sociable_component.html" %}
            </div>
            <div class='flex-column col-sm-5'>
                {% include "sociablecreating/logmessage_feed.html" %}
            </div>
        </div>
    </div>
{% endblock content %}