.form-group {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
}

.form-group label {
    margin-right: 10px; /* Space between label and input */
    width: auto; /* Adjust width as needed */
    text-transform: capitalize;
}

.form-group input, .form-group select, .form-group textarea {
    flex: 1; /* Allows the input to take the remaining space */
}