.crudbar {
    margin-top: -5em;
    margin-left: -0.65em;
    margin-right: -0.65em;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 27px solid #fff;
    border-bottom: 12px solid transparent;
}

  .triangle-right {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-left: 27px solid #fff;
    border-bottom: 12px solid transparent;
}