<footer class="footer mt-5 py-4 bg-light">
    <div class="row mt-5 pt-4 border-top">
        <div class="col-md-6">
            <p class="text-muted small">
                <i class="bi bi-github me-1"></i>
                Deze website is volledig open source. Bekijk de code op 
                <a href="https://github.com/MxTheo/travelingguestbook/" class="text-muted">GitHub</a>.
            </p>
        </div>
        <div class="col-md-6">
            <p class="text-muted small">
                <i class="bi bi-cc-circle me-1"></i>
                Alle content valt onder 
                <a href="https://creativecommons.org/licenses/by/4.0/" class="text-muted">Creative Commons CC-BY 4.0</a>.
            </p>
        </div>
    </div>
</footer>