<header>
<nav class="navbar navbar-expand-sm navbar-dark bg-primary text-center mb-0 pb-0">
  <div class="container-fluid mb-2">
    <a class="navbar-brand" href={% url "home" %}>
      Gemene Grond
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainmenu">
      <ul class="navbar-nav ms-auto mb-2 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url "contact" %}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "help" %}">Hulp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "about" %}">Over</a>
        </li>
         {% if user.is_authenticated %}
        <li><form method='post' action='{% url "logout" %}'>{% csrf_token %}
              <button class="dropdown-item" type="submit">Logout</button>
            </form></li>
            {% endif %}
      </ul>
    </div>
  </div>
</nav>
</header>