<!-- help.html -->
{% extends "admin/main.html" %}
{% load static %}
{% block title %}
    Help - Menscellium
{% endblock title %}
{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 text-success-emphasis mb-3 text-center">Help</h1>
                <div class="alert alert-info mb-4">
                    <i class="bi bi-github me-2"></i>
                    Op het forum kan iedereen bijdragen, verbeteringen voorstellen of nieuwe ideeën aandragen.
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="h4 text-success-emphasis mb-3">Forum</h2>
                        <p class="mb-3">Op het Github forum kun je vragen stellen en antwoorden vinden. Daar staat ook een help sectie met tips over het doen van straatactiviteiten.</p>
                        <div class="justify-content-end d-flex mb-3">
                        <a href="https://github.com/MxTheo/travelingguestbook/discussions"
                            target="_blank"
                            class="btn btn-success btn-lg">
                            <i class="bi bi-chat-dots me-2"></i>
                            Open Forum
                        </a>
                        <a href="https://github.com/MxTheo/travelingguestbook/discussions/categories/help"
                            target="_blank"
                            class="btn btn-outline-success ms-2">
                            <i class="bi bi-question-circle me-2"></i>
                            Help Sectie
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
