<header class="mb-5">
    <div class="row align-items-center">
        <div class="col-md-8">
            <h1 class="text-success-emphasis mb-3">{{ activity.name }}</h1>
            <p class="lead text-muted mb-4">"{{ activity.question }}"</p>
        </div>
        <div class="col-md-4">
            <div class="card bg-primary text-white">
                <div class="card-body text-center">
                    {% if request.user.is_authenticated %}
                        <h5 class="card-title mb-3">
                            Deel je belevingsmoment
                        </h5>
                        <div class="d-grid gap-2">
                            <a href="{% url 'create-moment' activity.pk %}"
                               class="btn btn-light btn-lg">
                                <i class="bi bi-person-raised-hand me-2 fs-6"></i>Ik deed dit
                            </a>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
