<header class="mb-5">
    <div class="row align-items-center">
        <div class="col-md-8">
            <h1 class="text-success-emphasis mb-3">{{ activity.name }}</h1>
            <p class="lead text-muted mb-4">"{{ activity.question }}"</p>
        </div>
        <div class="col-md-4">
            <div class="card bg-primary text-white">
                <div class="card-body text-center">
                    {% if request.user.is_anonymous %}
                        <h5 class="card-title mb-3">
                            Deel je belevingsmoment
                        </h5>
                        <div class="d-grid gap-2">
                            <a href="{% url 'create-moment-from-practitioner' activity.pk %}"
                               class="btn btn-light btn-lg">
                                <i class="bi bi-person-raised-hand me-2 fs-6"></i>Ik deed dit
                            </a>
                            <a href="{% url 'create-moment-from-passerby' activity.pk %}"
                               class="btn btn-outline-light btn-lg">
                                <i class="bi bi-person-walking me-2 fs-6"></i>Ik kwam langs
                            </a>
                        </div>
                        <small class="mt-2 d-block opacity-75">
                            <i class="bi bi-shield-check me-1"></i>Anoniem
                        </small>
                    {% elif request.session.from_experience %}
                        <h5 class="card-title mb-3">
                            Je zelfverzekerdheid afronden
                        </h5>
                        <form method="post" action="{% url "assign-activity-to-moment" %}">
                            {% csrf_token %}
                            <input type="hidden"
                                   name="activity_id"
                                   value="{{ activity.id }}">
                            <button type="submit" class="btn btn-light btn-lg">Selecteer deze activiteit</button>
                        </form>
                    {% else %}
                        <h5 class="card-title mb-3">
                            Start ervaring en voeg deze activiteit later toe
                        </h5>
                        <a href="{% url "start-experience" %}" class="btn btn-light btn-lg">
                            <i class="bi bi-plus-circle me-2"></i>Deel je ervaring
                        </a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
