{% extends "admin/main.html" %}
{% block title %}
Account edit
{% endblock title %}
{% block content %}
<div class="container mt-4">
    <h3>Edit je account</h3>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {{ user_form|crispy }}
        {{ profile_form|crispy }}
        <p><a class="btn btn-primary" href={% url "password_change" %}>Verander wachtwoord</a></p>
        <p><a class="btn btn-primary" href={% url "password_reset" %}>Reset wachtwoord</a></p>
        <input class="btn btn-success" type="submit" value="Save" />
        <button onclick="window.history.back();" class="btn btn-secondary ms-4" type="button">Annuleer</button>
    </form>
</div>
{% endblock content %}