body {
  padding-bottom:5em;
  display: flex;
  flex-direction: column;
}

.form-control {
  border: 2px solid var(--bs-dark);
}

/* Zorg dat footer onderaan blijft */
html, body {
    height: 100%;
}

.container.py-5 {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

:root {
  --bs-primary: #7b664b;
  --bs-primary-rgb: 123, 102, 75;
  --bs-secondary: #78C2AD;
  --bs-secondary-rgb: 120, 194, 173;
  --bs-link-color: var(--bs-primary);
  --bs-link-hover-color: #3c3225; /* Donkerder bruin voor hover */
}

/* Bootstrap core css */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }