{% extends "admin/main.html" %}
{% block title %}
About
{% endblock title %}
{% load static %}
{% block stylesheet %}<link href={% static "contact/styles/about.css" %} rel="stylesheet"/>{% endblock stylesheet %}
{% block content %}

<div class="container mt-4">
  <img class="img-fluid img-thumbnail mb-4 rounded-5" src="../../../static/images/portraitbw.jpg" alt="profile of theo"/ width="1081" height="1276">
</div>
<div class="container maintext">
  <h3>Visie</h3>
  <p>Ieder is belangrijk in het geheel. Het maakt niet uit of je uitkeringtrekker bent of de leraar die de volgende generaties inspireert. Ieder is belangrijk in het geheel. Zo is elk gesprek belangrijk om aangeknoopt te worden.</p>
  <h3>Over mij</h3>
  <p>Ieder gesprek is belangrijk om aangeknoopt te worden. Zo komt ook elk gesprek zoals het komt. Daarbij hoeft het niet lastig te zijn. In mijn studententijd experimenteerde ik met dilemma's en directe persoonlijke vragen. Ik heb die experimenten achter mij gelaten. Ik neem het gesprek nu meer zoals het komt. Ik zeg hallo en stel mijzelf voor. Dat is meestal al gespreksopener genoeg.</p>
  <p>Het is spannend. Zeker. Dat vind ik ook. Dan realiseer ik mij dat het gesprek komt zoals het gesprek komt. Alles is ok. Ieder is belangrijk in het geheel, ook degene die nee zeggen.</p>
  <p>Er is zijn werelden te ontdekken door te praten met vreemden. Ieder is belangrijk in het geheel. Hoe het geheel zich ontvouwt is, is bij ieder anders. Ik wil van dienst zijn aan anderen, zoals ik pas in dit geheel. Ik ben werkvrij. Ik leef zolang ik spaargeld heb. Ik doe vrijwilligerswerk. Ik heb er vertrouwen in dat ik ook van dienst kan zijn door deze applicatie te ontwikkelen. Elk gesprek is belangrijk om aangeknoopt te worden. Al is het maar 1 gesprek die aangeknoopt is door deze applicatie, dan is dat het werk voor mij waard.</p>
  <p>
  Op <a href="https://theoschutte.substack.com" target="_blank">mijn substack</a> kun je meer lezen over mij.
  </p>

  <h3>Bijdragen:</h3>
  <p>
    Zie <a href="https://github.com/MxTheo/travelingguestbook" target="_blank">github</a> voor de broncode en de issues.
  </p>
  <p>
    Kwaliteit van code vind ik belangrijk. Ik streef mijn code leesbaar te houden, met documentatie. Ik streef een 100% test coverage. Zodat wat ontwikkeld is ook werkt. Ik maak nog steeds fouten. Zeker omdat ik het vooral in mijn eentje doe, waardoor mijn programmeren nog foutgevoeliger is. Ik heb wel wat programmeer ervaring, maar ik leer ook nog steeds veel terwijl ik aan het programmeren ben. Ik kan feedback dus goed gebruiken.
  </p>
  <p>
    Als je feedback hebt, dan hoor ik dat graag:
  </p>
  <p>
    <a href=" {% url "contact" %} " class="btn btn-dark">Contact</a>
  </p>
</div>
{% endblock content %}
