{% extends "admin/main.html" %}
{% block title %}
About
{% endblock %}
{% block content %}
<style>
  .jumbotron {
    background-image: url('../../../static/images/groupofchildrenbw.jpg');
    background-size: contain;
}

.mask {
    background-color: rgba(0, 0, 0, 0.6);
}

.img-thumbnail {
    width: 36%;
    max-width: 175px;
}

.maintext {
    width: 70%;
    min-width: 280px;
    text-align: justify;
    text-justify: auto;
}

.maintext h3 {
    text-align: center;
    margin-top: 6%;
}
</style>
<!-- Jumbotron -->
<div class="jumbotron p-5 text-center bg-image mb-4">
  <div class="mask rounded-4">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mt-3 mb-3">Empowering people to start conversation!</h1>
      </div>
    </div>
  </div>
</div>
<!-- Jumbotron -->

<div class='container maintext'>
<p>Traveling Guestbook: Reizende gastenboek. Iets wat reist en wordt doorgegeven van persoon tot persoon. Dit reizende 'gastenboek' biedt mensen de gelegenheid om hun verhaal en ervaringen achter te laten, zoals een echt gastenboek.</p>
<p>Kletspraatjes maken met mensen die je niet kent maakt gelukkiger. We denken dat we er geen behoefte aan hebben, maar we vinden het leuker dan we hadden verwacht als dat kletspraatje ons werkelijk overkomt. Daag jezelf uit met traveling guestbook om kletspraatjes aan te gaan. Zorg </p>
<p>Met traveling guestbook kunnen we elkaar stimuleren om meer kletspraatjes aan te gaan.</p>
<p>Zie <a href={% url "help" %}>help</a> voor meer informatie hoe het werkt</p>

<h3>Over mij:</h3>
<img class='img-fluid img-thumbnail mb-4 mt-2 rounded-5' src="../../../static/images/portraitbw.jpg" alt="profile of me"/>
<p>Mijn naam is Theo. Ik was klaar met studeren en begon te forenzen. Ik daagde mijzelf uit in het openbaar vervoer om kletspraatjes aan te gaan. Ik had behoefte aan andere persoonlijkere gesprekken, dan te praten over werk. Daarbij zat ik te experimenteren hoe ik dat kon doen. Ik stelde directe, persoonlijke vragen. Ik gaf dilemma's. Soms werden de experimenten gewaardeerd. Vaak ook niet. Dit was een paar jaar geleden. Toen zocht ik al naar manieren om het gesprek aan te gaan.
</p>  
<p>Tegenwoordig maak ik het wat makkelijker voor mezelf. Ik zeg hallo en stel mijn naam voor. Dat is meestal al genoeg gespreksstarter. Het hoeft niet lastig te zijn.
</p>
<p>
Het idee van Traveling Guestbook sudderde dus al meerdere jaren in mijn onbewuste. Ik forens niet meer. Ik heb veel vrije tijd. Echter, veel van die vrije tijd gebruik ik voor vrijwilligerswerk. Ik heb mij voorgenomen om zoveel mogelijk in dienst te zijn voor anderen. Zolang ik spaargeld heb, kan ik dit volhouden. Ik hoop ook met Traveling Guestbook iets te kunnen betekenen voor anderen.
</p>

<h3>Bijdragen:</h3>
<p>Zie <a href="https://github.com/MxTheo/travelingguestbook" target="_blank">github</a> voor de broncode en de issues.</p>
<p>Ik besteed dus ook veel tijd aan vrijwilligerswerk. Daardoor werk ik aan de applicatie zo af en toe. De ontwikkeling gaat zo langzaam, maar hopelijk wel stabiel.</p><p>Kwaliteit van code vind ik belangrijk. Ik streef mijn code leesbaar te houden, met documentatie. Ik streef een 100% test coverage. Zodat wat ontwikkeld is ook werkt. Ik maak nog steeds fouten. Zeker omdat ik het vooral in mijn eentje doe, waardoor mijn programmeren nog foutgevoeliger is.
</p>
<p>Als je feedback hebt, dan hoor ik dat graag:</p>

  <p><a href=' {{mailto_url}} 'class='btn btn-dark'>Mail</a></p>

</div>
{% endblock %}
