{% extends "admin/main.html" %}
{% block title %}
About
{% endblock %}
{% load static %}
{% block stylesheet %}<link href={% static "contact/styles/about.css" %} rel='stylesheet'/>{% endblock stylesheet %}
{% block content %}

<div class='container'>
  <h1 class="display-5 fw-bold mt-1 mb-3 ms-auto me-auto">Over mij</h1>
  <img class='img-fluid img-thumbnail mb-4 rounded-5' src="../../../static/images/portraitbw.jpg" alt="profile of theo"/>
</div>
<div class='container maintext'>
  <p>
    Mijn naam is Theo. Ik was klaar met studeren en begon te forenzen. Ik daagde mijzelf uit in het openbaar vervoer om kletspraatjes aan te gaan. Ik had behoefte aan andere persoonlijkere gesprekken, dan te praten over werk. Daarbij zat ik te experimenteren hoe ik dat kon doen. Ik stelde directe, persoonlijke vragen. Ik gaf dilemma's. Soms werden de experimenten gewaardeerd. Vaak ook niet. Dit was een paar jaar geleden. Toen zocht ik al naar manieren om het gesprek aan te gaan.
  </p>  
  <p>
    Tegenwoordig maak ik het wat makkelijker voor mezelf. Ik zeg hallo en stel mijn naam voor. Dat is meestal al genoeg gespreksstarter. Ik kan vragen hoe iemands dag is. Het hoeft niet lastig te zijn.
  </p>
  <p>
    Het idee van deze applicatie sudderde dus al meerdere jaren in mijn onbewuste. Ik forens niet meer. Ik heb veel vrije tijd. Deze tijd besteed ik vooral aan vrijwilligerswerk. Ik heb mij voorgenomen om zoveel mogelijk in dienst te zijn voor anderen. Zolang ik spaargeld heb, kan ik dit volhouden. Ik hoop ook met deze applicatie iets te kunnen betekenen voor anderen.
  </p>
  <p>
    Meer over mijn persoonlijke verhaal wil ik je graag verwijzen naar <a href='https://theoschutte.substack.com' target='_blank'>mijn substack</a>. Dit over mij stukje is beperkt tot het ontwikkelen van de applicatie.
  </p>

  <h3>Bijdragen:</h3>
  <p>
    Zie <a href="https://github.com/MxTheo/travelingguestbook" target="_blank">github</a> voor de broncode en de issues.
  </p>
  <p>
    Naast programmeren aan deze applicatie, besteed ik veel tijd aan vrijwilligerswerk. Daardoor werk ik aan de applicatie zo af en toe. De ontwikkeling gaat zo langzaam, maar hopelijk wel stabiel.
  </p>
  <p>
    Kwaliteit van code vind ik belangrijk. Ik streef mijn code leesbaar te houden, met documentatie. Ik streef een 100% test coverage. Zodat wat ontwikkeld is ook werkt. Ik maak nog steeds fouten. Zeker omdat ik het vooral in mijn eentje doe, waardoor mijn programmeren nog foutgevoeliger is. Ik heb wel wat programmeer ervaring, maar ik leer ook nog steeds veel terwijl ik aan het programmeren ben. Ik kan feedback dus goed gebruiken.
  </p>
  <p>
    Als je feedback hebt, dan hoor ik dat graag:
  </p>
  <p>
    <a href=' {% url "contact" %} ' class='btn btn-dark'>Contact</a>
  </p>
</div>
{% endblock %}
