{% extends "admin/main.html" %}
{% block title %}
Help
{% endblock %}
{% load static %}
{% block stylesheet %}
<link href={% static "contact/styles/help.css" %} rel='stylesheet' type='text/css'/>
{% endblock stylesheet %}
{% block content %}
<div class='container'>
    <!-- Jumbotron -->
    <div class="jumbotron p-5 text-center bg-image mb-4 rounded-4">
        <div class="mask rounded-4">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
            <h1 class="mt-3 mb-3">Help</h1>
            </div>
        </div>
        </div>
    </div>
  <!-- Jumbotron -->

<div class="px-4 my-3 py-3 text-center">
  <i class="bi bi-chat-quote display-3"></i>
  <h1 class="mt-2">Gesprekseindiger</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead fw-medium mb-4">Deze applicatie is bedoeld als gesprekseindiger. Dankers zijn voorwerpen met een code erop. Met danker kun je iemand bedanken voor het gesprek. </br>Er zijn vele manieren om gesprekken te openen. Uiteindelijk kun je alleen zelf het gesprek openen. Geen gespreksstarter op de wereld kan dat voor je doen. Met een danker kun je wel iemand bedanken voor het gesprek.</p>
  </div>
</div>

<div class="px-4 my-4 py-3 text-center">
  <i class="bi bi-fast-forward display-3"></i>
  <h1 class="mt-2">Pay it forward</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead fw-medium mb-4">Dit is belangrijk. Dat de danker wordt doorgegeven. Als ieder die bedankt wordt, anderen ook bedankt met dezelfde danker, dan kun je zo de reis volgen van de danker. De danker reist van persoon tot persoon, elke keer via een nieuw, uniek gesprek. Bedankt voor het doorgeven!</p>
  </div>
</div>

<div class="px-4 my-4 py-3 text-center">
  <i class="bi bi-people display-3"></i>
  <h1 class="mt-2">Deel je ervaringen!</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead fw-medium mb-4">Op de danker staat een code. Met die code kom je bij de pagina waar je een berichtje achter kunt laten. Deel je ervaringen van het gesprek. Zo kunnen anderen zien dat de danker, die zij nu hebben, ook bij jou is langsgeweest. Zo ontmoeten we elkaar, omdat anderen werkelijk de moeite hebben gedaan om een gesprek aan te knopen. Lees de ervaringen van alle andere mensen die ook de moeite hebben gedaan om het kletspraatje aan te gaan. Via dankers zijn we met elkaar verbonden.</p>
  </div>
</div>

<div class="px-4 my-4 py-3 text-center">
  <i class="bi bi-file-earmark-person display-3"></i>
  <h1 class="mt-2">Start zelf!</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead fw-medium mb-4">Met de code kan iedereen een berichtje achter laten. Daar hoef je geen account voor aan te maken. Alleen gebruikers kunnen dankers aanmaken. Zij kunnen die gespreksketen starten. Zet je in voor een sociale wereld en start zelf met gespreksketens! <a href='{% url "register" %}'>Maak een account aan</a>.</p>
  </div>
</div>
</div>
{% endblock %}