{% load static %}
<nav class="navbar navbar-expand-sm bg-primary navbar-dark"
     aria-label="Third navbar example">
    <div class="container-fluid">
        <a class="navbar-brand mx-5" href={% url "oogcontact_home" %}>Home</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarsExample03"
                aria-controls="navbarsExample03"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link" href='{% url "registration_create" %}'>Aanmelden</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='{% static "pdfs/agenda_oogcontact.pdf" %}'>PDF Opzet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='{{ mailto_url }}'>Mail</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
