{% extends "oogcontact/oogcontact_main.html" %}
{% load static %}
{% block title %}
    Oogcontact
{% endblock title %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'oogcontact/oogcontact_home.css' %}">
{% endblock stylesheet %}
{% block content %}
    <div class="jumbotron p-3 mb-4 bg-body-tertiary rounded-3 ">
      <div class="container-fluid py-5 ">
        <h1 class="display-5 fw-bold text-white">Oogcontact</h1>
        <a class="btn btn-primary btn-lg" href="{% url 'registration_create' %}">Aanmelden</a>
      </div>
    </div>
    <div class="row g-5">
        <div class="col-md-8">
            <div class="container">
                <h3>Principes</h3>
                <ul>
                    <li>Jij bent het geschenk in contact, ongeacht hoe sociaal vaardig je bent. Contact is enkel het middel.</li>
                    <li>
                        Niets moet. Je hoeft niets te leren of te bereiken. Alleen aanwezig zijn en ervaren mag ook. Doe alleen wat voor jou fijn is. Voel je vrij om jezelf te zijn. Deze bijeenkomst draait om spelen met oogcontact; plezier staat voorop.
                    </li>
                </ul>
            </div>
            <div class="container">
                <h3>Introductie</h3>
                <p>
                    Je twijfelt hoe je contact maakt. Oogcontact is de sleutel om gesprekken te openen; daarmee zie je direct wie openstaat voor contact. Het is een eenvoudige en betrouwbare gespreksopener. Spanning bij het eerste contact is heel gewoon. Je hoeft het niet alleen te doen: we doen het samen, met de andere deelnemers. We ondersteunen elkaar.
                </p>
                <p>
                    Zelf sta ik ook op straat met een bord: “Ik wil oogcontact. Durf je ook 1 min?” Ook ik vond dat spannend, maar het went. Ik waardeer de verbinding die ik heb ervaren; anderen zijn echt een geschenk, en contact is slechts het middel.
                </p>
                <p>
                    Dat geldt ook voor jou: jij bent het geschenk! Los van hoe sociaal vaardig je bent, jij bent waardevol. Contact is enkel het middel. Maak je geen zorgen: je bepaalt zelf wat je wilt en waar je je prettig bij voelt. Niets moet; voel je vrij om jezelf te zijn.
                </p>
                <p>
                    We beginnen rustig. In drie bijeenkomsten spelen we met oogcontact, waarbij plezier voorop staat. Je hoeft niets te leren of te bereiken; meedoen is ook genoeg. De vierde bijeenkomst is een voorbereiding op oefenen buiten de groep. Je begint klein, op je eigen tempo, en je staat er niet alleen voor. Voel je je zekerder, dan kun je een stapje verder gaan. Jij bepaalt hoe je het doet; ik bied alleen de spellen aan. Je zelfvertrouwen groeit en je voelt verbinding. Je ziet het geschenk dat anderen voor jou zijn, en nog belangrijker: je ziet het geschenk dat jij voor anderen bent. Contact is enkel het middel.
                </p>
            </div>
            <div class="container">
                <h3>Praktische informatie</h3>
                <p>
                    We komen vier keer bij elkaar, elk keer 1,5 uur. De eerste drie bijeenkomsten zijn gericht op het spelen met oogcontact. De vierde bijeenkomst is een voorbereiding op oefenen in het echt. We beginnen rustig en bouwen het langzaam op. Je bepaalt zelf wat je wilt doen en waar je je prettig bij voelt.
                </p>
                <p>
                    De bijeenkomsten zijn gratis en vinden plaats in Inloophuis De Aandacht in Amersfoort. <a href="{% url 'registration_create' %}">Aanmelden</a> is nodig, zodat ik weet hoeveel mensen er komen.
                </p>
                <p>De bijeenkomsten zijn als volgt opgebouwd:</p>
                <ul>
                    <li>Bijeenkomst 1: Afstemmen in aanwezigheid</li>
                    <li>Bijeenkomst 2: Afstemming in lichaamstaal</li>
                    <li>Bijeenkomst 3: Vrij spel</li>
                    <li>Bijeenkomst 4: De straat op voorbereiden</li>
                </ul>
                <p>
                    Zie voor meer informatie de reader: <a href="{% static 'pdfs/agenda_oogcontact.pdf' %}">Download PDF</a>
                </p>
            </div>
            <div class="container">
                <h3>Over mij</h3>
                <div class="container mt-4">
                    <img class="img-fluid img-thumbnail mb-4 rounded-5" src="../../../static/images/portraitbw.jpg" alt="profile of theo"/ width="1081" height="1276">
                </div>
                <p>Mijn naam is Theo, ik ben 33 jaar oud. Sinds januari 2025 ben ik begonnen met contact zoeken met onbekenden in openbare ruimtes. Inmiddels doe ik dit regelmatig en is het een belangrijk onderdeel van mijn dagelijks leven geworden.
                    </p>
                    <p>
Ik speel met tekstborden op straat om verbinding te maken. Mijn eerste bord was geïnspireerd door <a href="https://urbanconfessional.org" target="_blank">Urban Confessional</a>: “Gratis Luisteren”. Daarna draaide ik het om: <a href="https://theoschutte.substack.com/p/kosmopoliet-door-vreemden" target="_blank">“Ik wil mijn verhaal delen. Wil je luisteren?”</a> Ook een variant op Free Hugs mocht niet ontbreken. Op de Varkensmarkt vroeg ik met een bord: <a href="https://indebuurt.nl/amersfoort/amersfoorters/theo-vraagt-op-de-varkensmarkt-om-een-knuffel~318258/" target="_blank">“Ik wil knuffel. Wil je die geven?”</a> Vervolgens wilde ik het contact verdiepen en experimenteerde ik met oogcontact: “Ik wil oogcontact. Durf je ook 1 min?”
</p>
<p>
Over mijn ervaringen schrijf ik op <a href="https://theoschutte.substack.com" target="_blank">mijn Substack</a>.
</p>
            </div>
            <div class="container">
                <h3>Contact</h3>
                <p>
                    Heb je vragen of wil je meer weten? Stuur me gerust een email <div class="container">
    <p><a href="{{ mailto_url }}" class="btn btn-info">Mail</a></p>
</div>
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-body-tertiary rounded">
                    <h4 class="fst-italic">Info</h4>
                    <p class="mb-0">
                        <i>Wanneer:</i> 4 x 1,5 uur
                        <br>
                        Vrijdagavond
                        <br>
                        <i>Waar:</i> <a href="https://deaandachtamersfoort.nl/" target="_blank">Inloophuis De Aandacht</a>
                        <br>
                        Zuidsingel 5
                        <br>
                        Kosten: Gratis
                        <br>
                        <a href="{% url 'registration_create' %}" class="btn btn-success">Aanmelden</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
