<div class='mb-4'>
    <div class='row justify-content-around'>
        <div class='col'>
            Level {{user.profile.lvl}}
        </div>
        <div class='col'>
            {{user.profile.xp}} / {{user.profile.xp_next_lvl}} XP
        </div>
    </div>
    <div class="progress bg-black rounded-4">
        <div class="progress-bar-striped bg-success" role="progressbar" style="width: {{percentage_xp}}%;" aria-valuenow="{{percentage_xp}}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>